<a href="https://colab.research.google.com/github/Mhtag/Feature-Selection/blob/main/Feature_Selection_Dropping_constant_feature.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# Make DataFrame of the given data 
data = pd.DataFrame({"A":[1,2,4,1,2,4], 
                    "B":[4,5,6,7,8,9], 
                    "C":[0,0,0,0,0,0],
                    "D":[1,1,1,1,1,1]})

In [3]:
data.head()

   A  B  C  D
0  1  4  0  1
1  2  5  0  1
2  4  6  0  1
3  1  7  0  1
4  2  8  0  1

## Variance Threshold

Feature selector that removes all low-variance features.

This feature selection algorithm looks only at the features (X), not the desired outputs (y), and can thus be used for unsupervised learning.

By default, it removes all zero-variance features, i.e. features that have the same value in all samples

https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.VarianceThreshold.html

In [4]:
from sklearn.feature_selection import VarianceThreshold
sel = VarianceThreshold()
sel.fit_transform(data)

array([[1, 4],
       [2, 5],
       [4, 6],
       [1, 7],
       [2, 8],
       [4, 9]])

In [7]:
sel.get_support()

array([ True,  True, False, False])

In [5]:
constant_columns = [column for column in data.columns
                    if column not in data.columns[sel.get_support()]]

print(constant_columns)

['C', 'D']

In [8]:
data.drop(constant_columns, axis=1)

   A  B
0  1  4
1  2  5
2  4  6
3  1  7
4  2  8
5  4  9

In [9]:
import os 
os.environ['KAGGLE_CONFIG_DIR'] = '/content'

In [10]:
!kaggle competitions download -c santander-customer-satisfaction

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /content/kaggle.json'
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading test.csv.zip to /content
 25% 1.00M/4.02M [00:00<00:00, 7.00MB/s]
100% 4.02M/4.02M [00:00<00:00, 19.8MB/s]
Downloading sample_submission.csv to /content
  0% 0.00/612k [00:00<?, ?B/s]
100% 612k/612k [00:00<00:00, 114MB/s]
Downloading train.csv.zip to /content
 25% 1.00M/4.05M [00:00<00:00, 6.57MB/s]
100% 4.05M/4.05M [00:00<00:00, 19.9MB/s]

In [11]:
!unzip \*.zip && rm *.zip

Archive:  train.csv.zip
  inflating: train.csv

Archive:  test.csv.zip
  inflating: test.csv

2 archives were successfully processed.

In [14]:
df = pd.read_csv('train.csv', nrows=10000)
df.shape

(10000, 371)

In [15]:
df.head()

   ID  var3  var15  ...  saldo_medio_var44_ult3          var38  TARGET
0   1     2     23  ...                     0.0   39205.170000       0
1   3     2     34  ...                     0.0   49278.030000       0
2   4     2     23  ...                     0.0   67333.770000       0
3   8     2     37  ...                     0.0   64007.970000       0
4  10     2     39  ...                     0.0  117310.979016       0

[5 rows x 371 columns]

In [16]:
X = df.drop('TARGET', axis=1)
y = df.TARGET

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=14)

X_train.shape, X_test.shape

((7000, 370), (3000, 370))

### Lets apply Variance Threshold

In [22]:
selection = VarianceThreshold()
selection.fit(X_train)

VarianceThreshold(threshold=0.0)

In [24]:
sum(selection.get_support())

279

In [26]:
non_constant_columns = [column for column in X_train.columns
                    if column in X_train.columns[selection.get_support()]]

len(non_constant_columns)

279

In [27]:
X_train = X_train[non_constant_columns]

In [28]:
X_train.shape

(7000, 279)